*{
    font-family: 'Plus Jakarta Sans', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Plus Jakarta Sans', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #242424;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
    padding: 10px;
    border: none;
    background-color: #2c3e50;
    color: #fff;
    text-align: right;
    border-radius: 5px;
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    animation: slideUP 0.5s ease-in-out;
}

@keyframes slideUP {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: scaleUp 0.5 ease-in-out;
}

@keyframes slideUP {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

button:hover {
    filter: brightness(110%);
}

.operator {
    background-color: #3498db;
    color: #fff;
}

.clear {
    background-color: #e74c3c;
    color: #fff;
}

.equal {
    background-color: #1eff00;
    color: #fff;
}

.number {
    background-color: #95a5a6;
    color: #fff;
}

.btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    width: 310px;
    height: 4rem;
    border-radius: 10px;
    text-decoration: none;
    background-color: #242424;
    color: #fff;

    animation: slideUP 0.5s ease-in-out;
}